body{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(16, 102, 102);
    

}
nav{
    background-color: #383F51;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;

}
nav h1{
    margin: 15px 10px;

}
.active{
    text-decoration: underline rgb(43, 226, 67) ;
}
a{
    /* text-decoration: none; */
    color: white;
}
#main{
    width: 70vw;
    height: 10vh;
    background-color: rgb(31, 98, 129);
    margin: 8vh auto;
    padding: 10px 20px;
    border-radius: 10px;
}
#taskInput{
    width: 70%;
    height: 80%;
    margin: auto 15px auto 8%;
    font-size: 24px;
    border-radius: 5px;
}
#save{
    width: 74px;
    height: 86%;
    border-radius: 10px;
}
#lists{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(48, 67, 67);
    min-height: 80vh;
    overflow: auto;
    padding-inline-start: 10px;
}
#taskcontainer{
    margin: 20px;
    height: 150px;
    border: 2px solid rgb(48, 109, 223);
    width: 200px;
    padding: 5px;
    position: relative;
    background-color: #3C4F76;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #AB9F9D;
}
#taskItem{
    font-size: 20px;
    display: flex;
    flex-direction: column;
   position: relative;

}
.done{
    margin: 10px ;
    width: 75px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    top:104px;
    left: 110px;
    /* bottom:10px; */
    /* right:10px; */
   
}


@media (max-width: 768px) {
    body{
        background-color: #4A4E69;
        overflow: hidden;
    }
    h1{
        font-size: 15px;
    }
    #main {
        width: 100vw;
        margin: 10px 0px;
        background-color: #3C4F76;
        padding: 10px 0 10px 0;
    }

    #taskInput {
        margin: 20px;
        width: 68%;
        margin: auto 15px auto 10px;
        font-size: 20px;
    }
    .done{
        position: absolute;
        top: 90px;
        margin: 10px;
        bottom: 20;
        border-radius: 5px;
    }
    #save {
        width: 15%;
    }

    #lists {
        height: 75vh;
        overflow:auto;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    background-color: rgb(1, 116, 96);
    
    /* flex-direction: column;
    flex-wrap:nowrap; */
    }
    #taskcontainer{
        height: 150px;
    }
    #taskItem{
        font-size: 25px;
        display: flex;
        margin: 20px 0px;
        /* height: auto; */
        align-self: flex-end;
    }
    #border{
        border: 2px solid black;
    }
    ::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */}
}